<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <%- include('./partials/semantic') %>
  </head>
  <body>


    <header>
      <%- include('./partials/header') %>
    </header>    

    <div class="ui container">
      <form class="ui form">
        <div class="field">
          <label>Add a Todo</label>
          <input type="text" name="newTodo" placeholder="Add a Todo!">
        </div>
        <button id = "addTodo" class="ui olive button" type="button">Submit</button>
      </form>
             

      <!-- Divider between filter and results section -->
      <div class="ui divider olive"></div>

      <!-- Tabs -->
      <div>
        <div class="ui top attached tabular menu">
          <a class="item active" data-tab="first">Tasks to be done</a>
          <a class="item" data-tab="second">Tasks completed</a>
        </div>

        <!-- Content of first tab -->
        <div class="ui bottom attached tab segment active" data-tab="first">
          <div class="results-wrapper">             
            <% for (var i = 0; i<notCompleted.length; ++i) { %>
              <div class="ui raised very padded text container segment olive">
                <%= notCompleted[i] %>
                <div class="ui checkbox">
                  <input class= "todoCheckbox" type="checkbox" name="example" value = "<%= notCompleted[i] %>">
                  <label> </label>
                </div>
              </div>                
            <% } %>
            <% if (5<1) { %>
            <h2 class="ui header">10 Results found</h2>
            <% } %>
          </div>
        </div>   
        <!-- Content of second tab -->
        <div class="ui bottom attached tab segment" data-tab="second">
          <% for (var i = 0; i<completed.length; ++i) { %>
            <div class="ui raised very padded text container segment olive">
              <%= completed[i] %>
            </div>                
          <% } %>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $('.menu .item')
        .tab()
      ;
      $('.todoCheckbox').click()

      // var functionToDelete = function(element){
      //   var tomark = element.value;
      //   var $t = element;
      //   console.log("Marking"+tomark);
      //   $.post(
      //     "/mylist",
      //     {
      //       toMarkComplete: tomark
      //     },
      //     function(data, status){
      //       // console.log("Cloning #"+tomark);
      //       // $("#brushing).clone().appendTo("[data-tab|='second']");
      //       // console.log($cloned);
      //       // console.log($this); won't work
      //       $cloned = $t.parent().parent().clone();
      //       $t.parent().parent().remove();
      //       $cloned.find(".checkbox").remove();
      //       $(".ui.bottom.attached.tab.segment[data-tab|='second']").append($cloned);
      //       console.log($cloned);
      //       console.log("Successful");
      //     }
      //   );
      // };

      // $(".todoCheckbox").click(function(){ // error was using arrow function ()=>{} instead of function(){}. Which was why all the headache. In former case, "this" refers to the object that was clicked, but in the latter case, it refers to the jQuery object
      //   var tomark = $(this).val();
      //   var $t = $(this);
      //   console.log(tomark);
      //   $.post(
      //     "/mylist",
      //     {
      //       toMarkComplete: tomark
      //     },
      //     function(data, status){
      //       // console.log("Cloning #"+tomark);
      //       // $("#brushing).clone().appendTo("[data-tab|='second']");
      //       // console.log($cloned);
      //       // console.log($this); won't work
      //       $cloned = $t.parent().parent().clone();
      //       $t.parent().parent().remove();
      //       $cloned.find(".checkbox").remove();
      //       $(".ui.bottom.attached.tab.segment[data-tab|='second']").append($cloned);
      //       console.log($cloned);
      //       console.log("Successful");
      //     }
      //   );
      // })


      // use document as the (parent) instead of ('.results-wrapper') if not sure where the child will be appended. This way this event attached to entire document and will fire everytime there is a click provided the click bubbles from the target
      $('.results-wrapper').on("click",".todoCheckbox", function(){ // error was using arrow function ()=>{} instead of function(){}. Which was why all the headache. In former case, "this" refers to the object that was clicked, but in the latter case, it refers to the jQuery object
        var tomark = $(this).val();
        var $t = $(this);
        console.log(tomark);
        $.post(
          "/mylist",
          {
            toMarkComplete: tomark
          },
          function(data, status){
            // console.log("Cloning #"+tomark);
            // $("#brushing).clone().appendTo("[data-tab|='second']");
            // console.log($cloned);
            // console.log($this); won't work
            $cloned = $t.parent().parent().clone();
            $t.parent().parent().remove();
            $cloned.find(".checkbox").remove();
            $(".ui.bottom.attached.tab.segment[data-tab|='second']").append($cloned);
            console.log($cloned);
            console.log("Successful");
          }
        );
      })

      $('#addTodo').click(function(){
          // console.log("I am fired!");
          console.log($("[name|='newTodo']").val());
          $addedTODO = $("[name|='newTodo']").val();
          $(".results-wrapper").append("<div class='ui raised very padded text container segment olive'>"+ $addedTODO +"<div class='ui checkbox'><input class= 'todoCheckbox' type='checkbox' name='example' value = '"+ $addedTODO +"'><label></label></div></div>"); 
      })
    </script>
  </body>
</html>
